<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageSuite\StoreExporter\Service\ConverterFactory">
        <arguments>
            <argument name="convertersMap" xsi:type="array">
                <item name="csv" xsi:type="object">MageSuite\StoreExporter\Service\Converter\Csv</item>
                <item name="xml" xsi:type="object">MageSuite\StoreExporter\Service\Converter\Xml</item>
            </argument>
        </arguments>
    </type>
</config>
